.para{
    color: rgb(222, 135, 135);
    background-color: chartreuse;
    margin: 25px;
    border: 30px solid blue;
    padding: 20px;
    box-shadow: 10px 20px 30px chartreuse;
}
.photo{
    background-image: url('website.jpg');
    height: 500px;
    background-size: 1500px;
}
.spa{
    color: brown;
    background-color: rgb(0, 255, 234);
    /* border: 20px; */
}
.computer{
    text-align: right;
    background-color: pink;
}
.bi{
    color: crimson;
}